[
 {pure_unit, [
  {web_port, 3000}
 ]},
  {kernel,
   [ {logger_level, debug}
   , {logger, [
               %% Console
               { handler, default, logger_std_h, 
               #{ config => #{},
                  level => debug,
                  formatter => { logger_formatter
                                 , #{ single_line => true
                                    , time_offset => "Z"
                                    , chars_limit => 32768
                                    , depth => 40
                                    , template => [time," ", level,": ", pid, " ", text, " ( ",  msg,  " )", ": ", misc, "\n"]
                                    }},
                   filters => [
                                {domain_filter, {fun logger_filters:domain/2, {stop, sub, ['otp', 'sasl']}}}
                             ]
                  }
               }
              ]}
  ]}
].

