body {
  background-color: #000;
  color: #fff;
  font-size: 24px;
  overflow: hidden;
}

body a {
  color: #eee;
}

#game-container {
  width: 100%;
  padding-bottom: 75%;
  position: relative;
}

#game-container-inner {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#invite {
  float: left;
  font-size: 12px;
}

#target {
  width: 100%;
  height: 100%;
}

#game-message-container {

}

.break {
  float: none;
  clear: both;
}

#game-message {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 48px;
}

#game-status-container {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 48px;
  opacity: 100%;
}

.game-status-widget {
  width: 180px;
  height: 50px;
  border: 1px solid #555;
  margin-right: 25px;
  float: right;
}

.game-status-widget > div {
  float: right;
}

#health-bar {
  width: 100%;
  background-color: #0F0;
}

#shield-bar {
  width: 100%;
  background-color: #00F;
}


#me > * {
  float: left;
}

#me h4 {
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 5px;
}

#quit {
  margin-left: 500px;
}
