body {
  background-color: #000;
  color: #fff;
  font-size: 24px;
}

body a {
  color: #eee;
}

#game-container {
  top: 50px;
}


#game-container > div {
  float: left;
}

#canvas-container {
  width: 800px;
  height:  600px;
}

#canvas-container canvas {

}

#game-message-container {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 800px;
  height: 600px;
}

.break {
  float: none;
  clear: both;
}

#game-message {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 48px;
}

#game-status-container {
  position: absolute;
  top: 620px;
  left: 0px;
  font-size: 48px;
  opacity: 60%;
}

#game-status-container p {
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 5px;
  margin-left: 20px;
  font-size: 18px;
}

#game-status-container-inner {
  float: left;
  height: 15px;
  width: 800px;
  padding-top: 5px;
}

#game-status-container-inner > div {
  width: 100%;
  height: 5px;
  border: 1px solid #555;
}

#game-status-container-inner > div > div {
  float: left;
  height: 100%;
}

#health-bar {
  width: 100%;
  background-color: #0F0;
}

#shield-bar {
  width: 100%;
  background-color: #00F;
}


#me > * {
  float: left;
}

#me h4 {
  float: left;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 5px;
}
